In [3]:
import pandas as pd
df = pd.read_csv("../data_df.csv")
df

,abbreviation,full_length,count_abbr,count_fl,surprisal_abbr,surprisal_fl
0,idk,i do nt know,36,0,37.461319,NaN
1,rn,right now,19,115,30.481657,33.637657
2,omg,oh my god,115,9,39.392446,41.686169
3,idc,i do nt care,8,0,33.115509,NaN
4,lol,laugh out loud,636,0,28.241934,NaN
5,bro,brother,194,207,28.866964,27.963266
6,dm,direct message,89,0,36.042538,NaN
7,sry,sorry,1,122,47.639874,32.717651
8,v,very,277,502,29.413813,35.514145
9,w,with,451,10809,31.826504,29.524132
10,nvm,nevermind,1,1,45.848869,37.386452
11,rofl,rolling on the floor laughing,2,0,26.054300,NaN
12,lmk,let me know,1,13,39.205379,30.376238
13,ily,i love you,103,379,37.100702,32.236290
14,yolo,you only live once,0,0,NaN,NaN
15,lmfao,laughing my fucking ass off,36,0,31.750153,NaN
16,ikr,i know right,0,0,NaN,NaN
17,ofc,of course,1,76,26.768042,30.208694
18,u,you,813,10766,33.206278,29.365175
19,2,too,881,823,30.427643,31.315802
20,2,to,881,17265,30.427643,28.092656
21,r,are,356,2882,35.264621,35.427655
22,abt,about,2,1182,38.373604,35.874943
23,tbh,to be honest,14,2,32.851887,20.949530
24,tbt,throwback thursday,31,8,45.103275,42.464695
25,tmb,tweet me back,0,0,NaN,NaN
26,tftf,thanks for the follow,0,4,NaN,24.906231
27,smh,shaking my head,8,0,35.877693,NaN
28,prt,please retweet,0,0,NaN,NaN
29,rt,retweet,88,1,36.215088,47.438660
30,nts,note to self,0,2,NaN,46.214958
31,mtf,more to follow,0,0,NaN,NaN
32,mrt,modified retweet,1,0,NaN,NaN
33,kk,okay,14,56,41.107018,33.583164
34,imo,in my opinion,9,2,29.682325,23.542673
35,icymi,in case you missed it,0,1,NaN,44.592701
36,ic,i see,113,103,31.035348,34.170925
37,ht,hat tip,6,1,30.038604,34.794952
38,ftw,for the win,7,4,32.089005,28.838207
39,ftl,for the loss,0,1,NaN,27.589142
40,fomo,fear of missing out,0,0,NaN,NaN
41,fab,fabulous,32,87,41.744499,39.232346
42,eml,email,0,28,NaN,36.434032
43,ema,email address,17,0,37.944935,NaN
44,deets,details,2,96,34.982170,37.838879
45,cr8,create,1,52,NaN,33.221553
46,clk,click,0,97,NaN,42.268524
47,cld,could,0,420,NaN,31.333443
48,chk,check,1,562,NaN,42.483732
49,btw,by the way,17,5,35.716698,25.353607
50,br,best regards,8,0,38.090275,NaN
51,bgd,background,0,22,NaN,33.409100
52,bfn,bye for now,0,0,NaN,NaN
53,b4,before,6,606,38.277187,36.083160
54,bc,because,119,594,31.895264,34.722137